*.a
*.o
*.exe
*.depend
*.layout
**/bin
**/obj
**/lib
**/libs
**/build
**/build_temp
iosqueak/
!iosqueak-source/include/iosqueak
docs/build
tester
tester_debug
*.config
!default.config
codealike.json
.codelite/
.DS_Store
*.kdev4
.vscode/ipch
